<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>insert_data</display-name>
    <servlet-name>insert_data</servlet-name>
    <servlet-class>Library.insert_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert_data</servlet-name>
    <url-pattern>/insert_data</url-pattern>
  </servlet-mapping>
  <display-name>crud_operatio</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Display_data</display-name>
    <servlet-name>Display_data</servlet-name>
    <servlet-class>Library.Display_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display_data</servlet-name>
    <url-pattern>/Display_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete_data</display-name>
    <servlet-name>delete_data</servlet-name>
    <servlet-class>Library.delete_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_data</servlet-name>
    <url-pattern>/delete_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edit_data</display-name>
    <servlet-name>edit_data</servlet-name>
    <servlet-class>Library.edit_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit_data</servlet-name>
    <url-pattern>/edit_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update_data</display-name>
    <servlet-name>update_data</servlet-name>
    <servlet-class>Library.update_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_data</servlet-name>
    <url-pattern>/update_data</url-pattern>
  </servlet-mapping>
</web-app>